@using Front.Models;

@{
    int i = 0;
}
@if (Model is not null)
{
    <p>Choose format</p>
    <div class="selectDiv">
        <div class="select" tabindex="1">
            @if (Model is IEnumerable<AudioData>)
            {
                @foreach (var audioformat in Model)
                {
                    var id = "opt" + audioformat.id;

                    if (i++ == 0)
                    {
                        <input class="selectopt" name="test" type="radio" id="@id" checked>
                    }
                    else
                    {
                        <input class="selectopt" name="test" type="radio" id="@id">
                    }
                    <label for="@id" class="option">@audioformat.ext @audioformat.fileSize @audioformat.tbr</label>
                }
            }
            else
            {
                @foreach (var videoFormat in Model)
                {
                    var id = "opt" + videoFormat.id;

                    if (i++ == 0)
                    {
                        <input class="selectopt" name="test" type="radio" id="@id" checked>
                    }
                    else
                    {
                        <input class="selectopt" name="test" type="radio" id="@id">
                    }
                    <label for="@id" class="option">@videoFormat.ext @videoFormat.resolution @videoFormat.fps @videoFormat.fileSize</label>
                }
            }
        </div>
    </div>
}