@using Front.Models;
@model GeneralData;

@if (Model is not null)
{
    <div class="ytImageDiv">
        <img src="@Model.thumbnail" />
        <p>@Model.duration_string</p>
    </div>
    <div class="dataTextDiv">
        <h2 id="Title" style="text-align:center">@Model.title</h2>

        <div class="authorAndDateDiv">
            <p>@Model.channel</p>
            <p>@Model.upload_date</p>
        </div>

        <div class="dataCountDiv">
            <div>
                <p>👀 </p>
                @if (@Model.view_count != 0 || Model.view_count != null)
                {
                    <p>@Model.view_count</p>
                }
                else
                {
                    <p>🚫</p>
                }
            </div>
            <div>
                <p>👍</p>
                @if (@Model.like_count != 0 || Model.like_count != null)
                {
                    <p>@Model.like_count</p>
                }
                else
                {
                    <p>🚫</p>
                }
            </div>
            <div>
                <p>💬</p>
                @if (@Model.comment_count != 0 || Model.comment_count != null)
                {
                    <p>@Model.comment_count</p>
                }
                else
                {
                    <p>🚫</p>
                }
            </div>
        </div>

        <div id="emptyLine2"></div>

        <div class="toolTipDiv">
            <p>Choose file type</p>
            <div class="tooltip">
                <img src="~/imgs/question_mark.svg" />
                <span class="tooltiptext">If you select both the best quality will be chosen for both</span>
            </div>
        </div>

        <div class="checkboxesDiv">
            <div class="checkbox-wrapper-13">
                <input id="c1-13" type="checkbox">
                <label for="c1-13">Audio</label>
            </div>
            <div class="checkbox-wrapper-13">
                <input id="c1-14" type="checkbox">
                <label for="c1-14">Video</label>
            </div>
        </div>

        <div class="getAvailableFormatsDiv">
            <button onclick="ListAllFormats()">Get Available Formats</button>
            <div id="emptyLine"></div>
        </div>

        <div class="formatsDiv">
        </div>

        <div class="downloadDiv">
            <div class="button">
                <div class="button-wrapper">
                    <div class="text">Download</div>
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="2em" height="2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15V3m0 12l-4-4m4 4l4-4M2 17l.621 2.485A2 2 0 0 0 4.561 21h14.878a2 2 0 0 0 1.94-1.515L22 17"></path></svg>
                    </span>
                </div>
            </div>
        </div>
    </div>
} 